<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Insert libraries here -->

        
    </head>

    <body ng-app="myApp" ng-controller="MyController">
        <div>
            <!-- This form contains some of the variables you can manipulate with FullCalendar. -->
            <form>
                <input ng-model="title" type="text" placeholder="Title">
                <input ng-model="year" type="number" placeholder="Year">
                <input ng-model="month" type="number" placeholder="Month">
                <input ng-model="startDate" type="number" placeholder="Start Date">
                <input ng-model="startHour" type="number" placeholder="Start Hour" max="24">
                <input ng-model="finishDate" type="number" placeholder="Finish Date">
                <input ng-model="finishHour" type="number" placeholder="Finish Hour" max="24">
                <!-- This button adds the events to your callendar -->
                <button ng-click="addEvent()">Add Event</button>
            </form>

            <!-- Use this to check if your event data is saving and being read -->
            <h2>{{alertMessage}}</h2>
        </div>
        
        <!-- Use angular to display all your event sources in a div. Make a button inside to remove the events. -->

        
        <!-- This is where your callendar will display -->
        <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>

    </body>
</html>